<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>401 Unauthorized - Kinesis API</title>
</head>

<body align="center">
	<div role="main" align="center">
		<h1>401: Unauthorized</h1>
		<p>Authentication is required and has failed or has not yet been provided.</p>
		<p>{{ uri }}</p>
		<hr />
	</div>
	<div role="contentinfo" align="center">
		<small>Kinesis API</small>
	</div>
</body>