<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>422 Wrongly Formed Request - Kinesis API</title>
</head>

<body align="center">
	<div role="main" align="center">
		<h1>401: Wrongly Formed Request</h1>
		<p>The request was well-formed but was unable to be followed due to semantic errors.</p>
		<p>{{ uri }}</p>
		<hr />
	</div>
	<div role="contentinfo" align="center">
		<small>Kinesis API</small>
	</div>
</body>