<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>500 Internal Server Error - Kinesis API</title>
</head>

<body align="center">
	<div role="main" align="center">
		<h1>500: Internal Server Error</h1>
		<p>The server encountered an internal error while processing this request.</p>
		<p>{{ uri }}</p>
		<hr />
	</div>
	<div role="contentinfo" align="center">
		<small>Kinesis API</small>
	</div>
</body>