<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ project_name }}</title
  </head>

  <body class="bg-gray-700 p-2 lg:p-4 h-screen">

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <div
      class="
        w-full
        rounded-lg
        p-8
        lg:px-8 lg:py-4
        h-full
        flex flex-col
        justify-center
      "
      style="background-color: #111827;"
    >
      <div
        class="w-full font-bold text-center text-6xl lg:text-4xl mb-8 lg:mb-4 uppercase"
        style="color: #06AED5"
      >
        Welcome to the API of
      </div>
      <div class="w-full flex justify-center my-2">
        <a class="w-full lg:w-1/3 px-6 bg-gray-800 rounded-lg p-4 hover:bg-gray-700 focus:bg-gray-700 ease-in-out duration-300" href="{{ front_url }}">
          <img
            src="{{ logo_url }}"
            alt="api-logo"
            class="w-full"
          />
        </a>
      </div>
      <div class="w-full text-center text-3xl lg:text-lg text-blue-300 mt-2">
        View the API Docs at
        <a
          href="{{ documentation_url }}"
          class="underline p-1 rounded-lg"
          style="color: #06AED5"
          >{{ documentation_url }}</a
        >.
      </div>
    </div>
  </body>
</html>