<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ project_name }}</title
  </head>

  <body class="bg-gray-700 p-2 lg:p-4 h-screen">

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <div
      class="
        w-full
        rounded-lg
        bg-gray-900
        p-8
        lg:px-8 lg:py-4
        h-full
        flex flex-col
        justify-center
      "
    >
      <div
        class="w-full font-bold text-center text-6xl lg:text-4xl mb-8 lg:mb-4"
        style="color: #998ae3"
      >
        Welcome to
        <a href="{{ front_url }}" class="px-1 rounded-lg bg-gray-700"
          >{{ project_name }}</a
        >{{ last_part }}🤩!
      </div>
      <div class="w-full flex justify-center mb-2 px-6">
        <img
          src="{{ logo_url }}"
          alt="api-logo"
          class="w-full lg:w-1/4"
        />
      </div>
      <div class="w-full text-center text-3xl lg:text-lg text-purple-300">
        View the API Docs at
        <a
          href="{{ documentation_url }}"
          class="underline bg-purple-900 p-1 rounded-lg"
          >{{ documentation_url }}</a
        >.
      </div>
    </div>
  </body>
</html>